.roundedButton {
    border-radius: 50%;
    border: 1px solid #2675EB;
    background: #2675EB;
    padding: 12px;
}

.button {
    border-radius: 27px;
    background: #2675EB;
    border: none;
    color: white;
    padding: 12px 40px;
  }
