.background {
  background-image: url('/images/background.jpg');
  background-repeat: repeat;
  background-size: contain;
}
.background-grey {
  background: var(--light-gray, #F8F8F8);
}

.hashtag {
  border-radius: 22px;
  background: var(--light-gray, #F8F8F8);
  padding: 8px 16px;
}

Link {
  text-decoration: none;
}

.outline-card{
  border-radius: 12px;
  border: 1px solid var(--gray-100, #E0E0E0);
  background: #FFF;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 28px 0;
}

.slider {
  gap: 100px;
}


.typewriter{
  margin-top: 20px;
  overflow: hidden;
  border-right: .15em solid #2675EB;
  white-space: nowrap;
  animation: typing 2s forwards;
  width: 0;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

.react-stacked-center-carousel {
  padding: 20px 0;
}

.card-card {
  transition: all 300ms ease;
  cursor: pointer;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05);
}

.card-card:hover {
  transform: scale(1.05);
}

.react-stacked-center-carousel-slide-0 .card-card {
  cursor: default;
}

.react-stacked-center-carousel-slide-0 .card-card:hover {
  transform: none;
}

.fill {
  width: 100%;
  height: 100%;
}

.card-card .card-overlay {
  user-select: none;
  position: absolute;
  background-color: #00000099;
  transition: all 300ms ease;
  border-radius: 15px;
}

.card-card:hover .card-overlay {
  background-color: #0000002d;
}

.react-stacked-center-carousel-slide-0 .card-overlay {
  background-color: #00000099 !important;
}

.card-card .cover-image {
  object-fit: cover;
}

.card-card .cover {
  position: absolute;
  transition: opacity 300ms ease;
}
.react-stacked-center-carousel-slide-0 .card-card .cover {
  transition: opacity 300ms ease, z-index 0ms 300ms;
}

.card-card .cover.on {
  opacity: 1;
  z-index: 1;
}

.card-card .cover.off {
  opacity: 0;
  z-index: -1;
}

.card-card .detail {
  display: flex;
}

.card-card .discription {
  display: flex;
  flex-direction: column;
}

.react-stacked-center-carousel {
  height: 450px !important;
}


