.background {
    background-image: url('/images/background.jpg');
    background-repeat: repeat;
    background-size: contain;
}
.background-grey {
    background: var(--light-gray, #F8F8F8);
}

.button {
    border-radius: 27px;
    background: #2675EB;
    border: none;
    color: white;
    padding: 12px 40px;
}

.hashtag {
    border-radius: 22px;
    background: var(--light-gray, #F8F8F8);
    padding: 8px 16px;
}

Link {
    text-decoration: none;
}