.sentersCard {
    border-radius: 8px;
    border: 1px solid var(--gray-100, #E0E0E0);
    background: var(--white, #FFF);
    width: 100%;
    transition: border 0.6s ease;
    padding: 16px 0 16px 4px;
    cursor: pointer;
    overflow: hidden;
    &:hover {
        border: 1px solid #2675EB;
        box-shadow: 0px 4px 8px 0px rgba(9, 10, 10, 0.15);
    }
}