@mixin headline($font-size, $line-height, $font-weight) {
    font-size: $font-size;
    font-style: normal;
    font-weight: $font-weight;
    line-height: $line-height
}

// 72px 88px 700 
.h-1 {
    @include headline(4.5rem, 5.5rem, 700);
}
// 40px 56px 700
.h-2 {
    @include headline(2.5rem, 3.5rem, 700);
}
// 32px 56px 500
.h-3 {
    @include headline(2rem, 3.5rem, 500);
}
// 28px 36px 600
.h-4 {
    @include headline(1.75rem, 2.25rem, 600);
}
// 24px 32px 500
.h-5 {
    @include headline(1.5rem, 2rem, 500);
}
// 20px 28px 500
.h-6 {
    @include headline(1.25rem, 1.75rem, 500);
}
// 16px 24px 500
.h-7 {
    @include headline(1rem, 1.5rem, 500);
}


// 20px 28px 400
.pr-1 {
    @include headline(1.25rem, 1.75rem, 400);
}
// 18px 28px 400
.pr-2 {
    @include headline(1.125rem, 1.75rem, 400);
}
// 16px 24px 300
.pr-3 {
    @include headline(1rem, 1.5rem, 300);
}
// 14px 20px 400
.pr-4 {
    @include headline(0.875rem, 1.25rem, 400);
}
// 12px 16px 500
.pr-5 {
    @include headline(0.75rem, 1rem, 500);
}
// 10px 12px 400
.pr-6 {
    @include headline(0.625rem, 0.75rem, 400);
}

$spaceamounts: (5, 8, 10, 12, 15, 16, 20, 25, 30, 32, 35, 40, 45, 48, 50, 56, 66, 72, 75, 80, 100, 160); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone

@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }
  
    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

.pos-1 {
    @include position(absolute, $top: 25%, $left: 5%);
}
.pos-2 {
    @include position(absolute, $top: 15%, $left: 30%);
}
.pos-3 {
    @include position(absolute, $top: 17%, $right: 25%);
}
.pos-4 {
    @include position(absolute, $top: 30%, $right: 5%);
}
.pos-5 {
    @include position(absolute, $bottom: 30%, $right: 15%);
}
.pos-6 {
    @include position(absolute, $bottom: 15%, $right: 45%);
}
.pos-7 {
    @include position(absolute, $bottom: 20%, $left: 20%);
}


@media (max-width: 749px) {
    // 56px 88px 700 
    .h-1 {
        @include headline(2.25rem, 3rem, 700);
    }
    // .h-2 {
    //     @include headline(1.125rem, 1.75rem);
    // }
    // .h-3 {
    //     @include headline(1rem, 1.625rem);
    // }
    // .h-5 {
    //     @include headline(0.875rem, 1.5rem);
    // }
    // .h-6 {
    //     @include headline(0.875rem, 1.375rem);
    // }

    // .h-7 {
    //     @include headline(2.5rem, 3.5rem, 700);
    // }

    .pos-1 {
        @include position(absolute, $top: 25%, $left: 5%);
    }
    .pos-2 {
        @include position(absolute, $top: 15%, $left: 30%);
    }
    .pos-3 {
        @include position(absolute, $top: 17%, $right: 15%);
    }
    .pos-4 {
        @include position(absolute, $top: 30%, $right: 5%);
    }
    .pos-5 {
        @include position(absolute, $bottom: 25%, $right: 10%);
    }
    .pos-6 {
        @include position(absolute, $bottom: 20%, $right: 45%);
    }
    .pos-7 {
        @include position(absolute, $bottom: 25%, $left: 5%);
    }

}
